<header class="h-1000" *ngIf="loggedin == true">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand" href="#">Asset Portfolio</a></mdb-navbar-brand>
  </mdb-navbar>
</header>
  <router-outlet>
  </router-outlet>
<footer class="page-footer font-large indigo" *ngIf="loggedin == true">
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/angular/"> MDBootstrap.com</a>
  </div>
</footer>