<section class="view mainbg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div mdbModal #adddata="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-right white-text" aria-label="Close" (click)="adddata.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100 text-center" id="myModalLabel">{{modaltitle}} Data</h4>
                </div>
                <div class="modal-body">
                  <form class="text-left">
                    <div class="form-row mb-4">
                      <div class="col">
                        <label class="white-text">Server Name : </label>
                        <input type="text"  id="servername" mdbInput class="form-control mb-4 dashboardformfields" placeholder="Server Name" [(ngModel)]="metricform.servername" [ngModelOptions]="{standalone: true}" #servername="ngModel" required="">
                        <input type="hidden"  id="metricid" mdbInput class="form-control mb-4 dashboardformfields" placeholder="IP Address" [(ngModel)]="metricform.metricid" [ngModelOptions]="{standalone: true}" #metricid="ngModel" required="">
                      </div>
                      <div class="col">
                        <label class="white-text">No of CPU's : </label>
                        <select  class="browser-default custom-select mb-4 dashboardformfields" [(ngModel)]="metricform.cpuid" [ngModelOptions]="{standalone: true}" #cpuid="ngModel" required="">
                          <option value="null">Select No of CPU's</option>
                          <option *ngFor="let data of cpu_list" [attr.value]="data.category_item_id">{{data.item_name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row mb-4">
                      <div class="col">
                        <label class="white-text">Total Memory : </label>
                        <select  class="browser-default custom-select mb-4 dashboardformfields" [(ngModel)]="metricform.memoryid" [ngModelOptions]="{standalone: true}" #memoryid="ngModel" required="">
                          <option value="null">Select Total Memory</option>
                          <option *ngFor="let data of memory_list" [attr.value]="data.category_item_id">{{data.item_name}}</option>
                        </select>
                      </div>
                      <div class="col">
                        <label class="white-text">Total Storage : </label>
                        <select  class="browser-default custom-select mb-4 dashboardformfields" [(ngModel)]="metricform.storageid" [ngModelOptions]="{standalone: true}" #storageid="ngModel" required="">
                          <option value="null">Select Total Storage</option>
                          <option *ngFor="let data of storage_list" [attr.value]="data.category_item_id">{{data.item_name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row mb-4">
                      <div class="col">
                        <label class="white-text">IP Address : </label>
                        <input type="text"  id="ipaddress" mdbInput class="form-control mb-4 dashboardformfields" placeholder="IP Address" [(ngModel)]="metricform.ipaddress" [ngModelOptions]="{standalone: true}" #ipaddress="ngModel" required="">      
                      </div>
                      <div class="col">
                        <label class="white-text">Network : </label>
                        <select  class="browser-default custom-select mb-4 dashboardformfields" [(ngModel)]="metricform.networkid" [ngModelOptions]="{standalone: true}" #networkid="ngModel" required="">
                          <option value="null">Select Network</option>
                          <option *ngFor="let data of network_list" [attr.value]="data.category_item_id">{{data.item_name}}</option>
                        </select>
                      </div>
                    </div>
                    <label class="white-text">Location : </label>
                    <input type="text"  id="location" mdbInput class="form-control mb-4 dashboardformfields" placeholder="Location" [(ngModel)]="metricform.location" [ngModelOptions]="{standalone: true}" #location="ngModel" required="">
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="adddata.hide();cancel()" mdbWavesEffect>Cancel</button>
                  <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect [disabled]="servername.errors || cpuid.errors || memoryid.errors || storageid.errors || ipaddress.errors || networkid.errors || location.errors" (click)="adddata.hide();savemetric()">{{btntitle}}</button>
                </div>
              </div>
            </div>
          </div>
          <div mdbModal #mapdata="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-right white-text" aria-label="Close" (click)="mapdata.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100 text-center" id="myModalLabel">Map Data</h4>
                </div>
                <div class="modal-body">
                  <agm-map [latitude]="lat" [longitude]="long">
                    <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
                  </agm-map>
                </div>
                <div class="modal-footer">
                  <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="mapdata.hide()" mdbWavesEffect>Close</button>
                </div>
              </div>
            </div>
          </div>
          <div mdbModal #chartdata="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-right white-text" aria-label="Close" (click)="chartdata.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100 text-center" id="myModalLabel">Chart Data</h4>
                </div>
                <div class="modal-body">
                  <div id="chartdiv" class="charts">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="chartdata.hide()" mdbWavesEffect>Close</button>
                </div>
              </div>
            </div>
          </div>
          <div mdbModal #confirmdelete="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-right white-text" aria-label="Close" (click)="confirmdelete.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100 text-center" id="myModalLabel">Delete Confirmation</h4>
                </div>
                <div class="modal-body">
                  <p class="white-text text-center">Are you sure you wanna delete this record ? </p>
                  <input type="hidden"  id="metricid" mdbInput class="form-control mb-4 dashboardformfields" placeholder="IP Address" [(ngModel)]="metricform.metricid" [ngModelOptions]="{standalone: true}" #metricid="ngModel" required="">
                </div>
                <div class="modal-footer">
                  <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="confirmdelete.hide();cancel()" mdbWavesEffect>Cancel</button>
                  <button type="button"mdbBtn color="primary" class="relative waves-light" mdbWavesEffect aria-label="Close" (click)="confirmdelete.hide();deletemetric(metricform.metricid)" mdbWavesEffect>Delete</button>
                </div>
              </div>
            </div>
          </div>
          <mdb-card class="chartcard2">
            <mdb-card-header class="white-text indigo" mdbWavesEffect> Jquery Data Table Demo</mdb-card-header>
            <mdb-card-body>
              <div class="row">
                <div class="col-md-6 titlearea">
                  Table List : 
                </div>
                <div class="col-md-6 buttonarea">
                  <button type="button" mdbBtn color="primary" class="relative waves-light tablebtn" (click)="adddata.show();showaddpop()" mdbWavesEffect>Add Data</button>
                </div>
                <div class="col-md-12 tablearea">
                  <div class="tbl-content">
                    <div class="table-responsive">
                      <table cellpadding="0" cellspacing="0" border="0" id="demoapptable" class="demoapptable">
                        <thead class = "tbl-header">
                            <tr>
                              <th style="width:100px !important">S.No</th>
                              <th style="width:200px !important">Server Name</th>
                              <th style="width:150px !important">No of CPU's</th>
                              <th style="width:150px !important">Total Memory</th>
                              <th style="width:150px !important">Total Storage</th>
                              <th style="width:150px !important">IP Address</th>
                              <th style="width:150px !important">Network</th>
                              <th style="width:150px !important">Location</th>
                              <th style="width:150px !important">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let post of tabledata;let myindex=index">
                            <td>{{myindex + 1}}</td>
                            <td>{{post.met_name}}</td>
                            <td>{{post.cpus_name}}</td>
                            <td>{{post.memory_name}}</td>
                            <td>{{post.storage_name}}</td>
                            <td>{{post.ipaddress}}</td>
                            <td>{{post.network}}</td>
                            <td (click)="mapdata.show();loadmap(post.lat,post.long)" style="cursor: pointer;" title="Wanna view Map ?">{{post.location }}</td>
                            <td  style="cursor: pointer;">
                              <i class="fas fa-edit" (click)="adddata.show();emetric(post.met_id,post.met_name,post.cpus,post.memory,post.storage,post.ipaddress,post.network,post.location)" title="Edit !"></i>&nbsp;
                              <i class="fas fa-trash-alt" (click)="confirmdelete.show();dmetric(post.met_id)" title="Delete !"></i>&nbsp;
                              <i class="fas fa-binoculars" (click)="chartdata.show()" title="Wanna view Chart ?"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div> 
                </div>
              </div>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
</section>
  
